//* FILEIMPORTATO DA APP.VUE CHE TUTTI EREDITERANNO

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body{ //? FONT DA MODIFICARE- POSSIBILE ROBOTO
    font-family: 'Raleway',sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    color:#6abf17;
}

h3{
    color: #1775bf;
    font-size: 2rem;
    font-weight: bold;
}

h4{
    font-weight: bold;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    font-weight: bold;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #6abf17;
}

.my_btn{
    border-radius: 6.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.my_btn-color{
    background-color: #1775bf;
    color: white;
    border: 0;
}


.my_btn-color:hover{
    background-color: deepskyblue;
}
.p-grey {
    color: #777777;
    font-weight: bold;
    font-size: 15px;
}

.simple {
    font-weight: bold;
    color: black;
}

.my_moving{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.padding-top-big{
    padding-top: 7%;
}

.padding-bottom-big{
    padding-bottom: 7%;
}

.margin-h2{
    margin-bottom: 4rem;
}

.my_service-solution{
    margin-bottom: 10rem;
}

