//* FILEIMPORTATO DA APP.VUE CHE TUTTI EREDITERANNO

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body{
    font-family: 'Raleway',sans-serif;
}

h1{
    color:#6abf17;
}
h2{
    color: #1775bf;
}
h4{
    font-weight: bold;
}